.cube3d.scene {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
  max-width: 250px;
  max-height: 250px;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.cube3d.base {
  width: 80%;
  height: 80%;
  margin: auto;
  -webkit-animation: rot3dcube 6s linear infinite;
          animation: rot3dcube 6s linear infinite;
  position: relative;
  -webkit-transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateY(50%) rotateX(90deg);
          transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateY(50%) rotateX(90deg);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.cube3d.face {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 6px solid #66fcf1;
  background-repeat: no-repeat;
  background-size: cover;
}

.cube3d.face.front {
  -webkit-transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
          transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
}

.cube3d.face.back {
  -webkit-transform: rotateY(90deg) translateX(50%) rotateY(90deg);
          transform: rotateY(90deg) translateX(50%) rotateY(90deg);
}

.cube3d.face.right {
  -webkit-transform: translateX(50%) rotateY(90deg);
          transform: translateX(50%) rotateY(90deg);
}

.cube3d.face.left {
  -webkit-transform: translateX(-50%) rotateY(-90deg);
          transform: translateX(-50%) rotateY(-90deg);
}

.cube3d.face.top {
  -webkit-transform: translateY(-50%) rotateX(90deg);
          transform: translateY(-50%) rotateX(90deg);
}

.cube3d.face.bottom {
  -webkit-transform: translateY(50%) rotateX(-90deg);
          transform: translateY(50%) rotateX(-90deg);
}

@-webkit-keyframes rot3dcube {
  from {
    -webkit-transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateY(50%) rotateX(90deg) rotate3d(0.5, 1, 0.1, 0deg);
            transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateY(50%) rotateX(90deg) rotate3d(0.5, 1, 0.1, 0deg);
  }
  to {
    -webkit-transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateY(50%) rotateX(90deg) rotate3d(0.5, 1, 0.1, 360deg);
            transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateY(50%) rotateX(90deg) rotate3d(0.5, 1, 0.1, 360deg);
  }
}

@keyframes rot3dcube {
  from {
    -webkit-transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateY(50%) rotateX(90deg) rotate3d(0.5, 1, 0.1, 0deg);
            transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateY(50%) rotateX(90deg) rotate3d(0.5, 1, 0.1, 0deg);
  }
  to {
    -webkit-transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateY(50%) rotateX(90deg) rotate3d(0.5, 1, 0.1, 360deg);
            transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateY(50%) rotateX(90deg) rotate3d(0.5, 1, 0.1, 360deg);
  }
}
/*# sourceMappingURL=cube3d_sheet.css.map */