@import '_pallette.scss';

* {
  padding: 0;
  margin : 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  color: $bright;
}

hr {
  margin: 50px 0;
  border : $semi-dark 2px solid;
}

body{
  background: url("../img/pcs_bg.svg") $dark;
  background-size: 320px 320px;
  min-height: 100vh;
  animation: bg-fly 3s infinite linear;
  scroll-behavior: smooth;
}

@keyframes bg-fly {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -320px 320px;
  }
}

img.logo {
  max-width: 320px;
  height:auto;
}

video {
  max-height:70vh;
  width: 100%;
  margin: 30px;
}

.play-button {
  cursor: pointer;
  padding:10px;
  background: $semi-dark;
  text-align: center;
}

.collumns {
  min-height:80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  *{
    //flex: 1;
    margin: 40px;
  }
}

.rows {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  * {
    //flex: 1;
    margin:30px;
  }
}

main {
  padding : 5vw;
  width: 80%;
  min-height:100vh;
  margin:auto;
  background: $dark;
  section {
    min-height:90vh;
  }
}

p, a {
  font-family: 'Open Sans';
  color: $bright;
  text-decoration: none;
}

header {
  &.solid {
    background: $semi-dark;
    box-shadow: 0px 3px 10px rgba(44, 43, 40, 0.452);
  }

  display:flex;

  align-items: center;
  justify-content: stretch;

  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 2;
  transition: all 0.5s ease;
  h2{
    flex:2;
    margin : 1vh 2vw;
  }
  .links{
    flex:2;
    display:flex;
    justify-content: space-around;
    padding-right:1vw;
  }
}

.big-title {
  font-size: 3em;
  max-width: 50%;
  text-align:center;
  margin: auto;
  padding: 1em 0.5em 0.2em 0.5em;
  border-bottom: solid 5px $accent;
  color: $accent;
}

.small-title {
  font-size: 2em;
  max-width: 40%;
  text-align:center;
  margin: auto;
  margin-top: 50px;
  padding: 1em 0.5em 0.2em 0.5em;
  border-bottom: solid 3px $accent-dark;
}

iframe.demo{
  width:100%;
  height: 80vh;
  margin-top: 50px;
  border-radius: 10px;
  border : dashed 2px $accent-dark;
}