$dark : rgb(24, 27, 27);
$semi-dark : #1f2833;
$bright : #C5C6C7;
$accent : #66FCF1;
$accent-dark : #45A29e;

* {
  color: $bright;
  background: $dark;
  padding : 0;
  margin: 0;
  // font-family: 'Ubuntu Mono', monospace;
  font-family: 'Consolas', monospace;
}
body {
  width:90%;
  margin:auto;
  border : none;
}

p {
  color: $bright;
  font-family: 'Consolas', monospace;
}

p.naglowek {
  color: $accent;
  font-family: 'Consolas', monospace;
  font-size: 2em;
  padding: 10px 0;
}

p.tytul {
  color: $accent-dark;
  font-family: 'Consolas', monospace;
  font-size: 1.5em;
}

td.pasek2 {
  background:none;
  width:20%;
}

p.news{
  color:$bright;
  border-left: solid 2px $accent-dark;
  margin:0;
  padding-left: 20px;
  font-family: 'Consolas', monospace;
  font-size:1.2em;
}
td.menuitem {
  background: $dark;
  border : none;
  border-bottom: solid 1px $accent-dark ;
  transition: background 0.3s;
  &:hover {
    background-color: $semi-dark;
  }
  a {
    font-family: 'Consolas', monospace;
  font-size:1.2em;
    display:block;
    width: 100%;
    height:100%;
    color:$bright;
    &:hover{
      color:$bright;
    }
    background:none;
  }
}
td.second a{
  font-family: 'Consolas', monospace;
  color:$bright;
}
a {
  font-family: 'Consolas', monospace;
  width: 100%;
  height:100%;
  color:$bright;
  &:hover{
    color:$bright;
  }
  background:none;
}

table {
  width: 100%;
}

#menutop, .pasek, .paske2 {
  display:none;
}
div.clock {
  border:none;
  background:none;
}
div#clock {
  border : none;
  border-bottom: solid 1px $accent-dark ;
}
TD#tresc  {
  TABLE.list {
      border-collapse: collapse;
      TH, TD {
        background: none;
        b{
          color: $accent;
        }
        a{
          font-size:1.2em;
          font-family: 'Consolas', monospace;
          width: 100%;
          height:100%;
          color:$bright;
          transition: all 0.3s;
          &:hover{
            color:$accent-dark;
            text-decoration: none;
          }
          background:none;
        }
      }
      tr:nth-child(even) td {
        background:rgba($semi-dark,0.7);
      }
    }
  table.scoreboard {
    border-collapse: collapse;
    th {
      background:none;
    }
    tr:nth-child(even) td {
      background:rgba($semi-dark,0.7);
    }
    td {
      padding:3px;
      background:none;
      b{
        color: $accent;
      }
      a{
        
        font-size: 1.1em;
        font-family: 'Consolas', monospace;
        width: 100%;
        height:100%;
        color:$bright;
        transition: all 0.3s;
        &:hover{
          color:$accent-dark;
          text-decoration: none;
          font-size: 1em;
          font-family: 'Consolas', monospace;
        }
        background:none;
      }

    }
  }
}

#submit {
  padding:10px 20px;
  margin-left : 50px;
  color:$bright;
}

td#tresc a {
  color:$bright;
  font-family: 'Consolas', monospace;
}
  



