*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: Poppins;
  background-color: rgb(241, 241, 241);
}

body {
  padding: 20px 5%;
}

h1 {
  margin-bottom:30px;
}

h3 {
  margin:40px 0;
}

.box-container {
  max-width:100%;
  display: inline-flex;
  flex-wrap: wrap;
}

.in-box {
  &.removed {
    display: none;
    pointer-events: none;
  }
  &.unused {
    background-color: rgb(173, 173, 173);
    .in-row .small-num-in {
      background-color: rgb(161, 161, 161);
    }
  }
  transition: background-color 0.3s;
  float:left;
  margin:10px;
  width: 150px;
  min-height:100px;
  padding:10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.418) 2px 2px 2px, white -2px -2px 2px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .in-row{
    background: none;
    width:100%;
    display:flex;
    .field-label {
      background: none;
      width : 90px;
    }
    .small-num-in {
      transition: background-color 0.3s;
      width : 30px;
      border-radius:5px;
      box-shadow: inset rgba(0, 0, 0, 0.418) 1px 1px 2px, inset white -1px -1px 2px;
      background: rgb(235, 235, 235);
      text-align:center;

      &:focus {
        outline: none;
        background: rgb(221, 221, 221);
      }
    }
  }
}

.box-buttons {
  background: none;
  width:100%;
  height:20px;
  display: flex;
  
  .butt {
    cursor: pointer;
    margin-left:5px;
    width:12px;
    height:12px;
    border-radius: 100%;
    &.red {
      background:orangered;
    }
    &.yellow {
      background:orange;
    }

    box-shadow: inset 10px 10px 0 rgba(0, 0, 0, 0);
transition: box-shadow 0.3s;
    &:hover {
      box-shadow: inset 10px 10px 0 rgba(255, 255, 255, 0.527);
    }
  }
}

.add-button {
  align-self: flex-end;
  width:100px;
  height:120px;
  text-align: center;
  display:inline-flex;
  nav-index: 10;
  flex-direction: column;
  justify-content: center;
  .plus {
    cursor: pointer;
    color:white;
    font-weight: bolder;
    font-size : 60px;
    text-shadow: rgba(0, 0, 0, 0.418) 2px 2px 2px, white -2px -2px 2px;
    transition: color 0.3s;
    &:hover {
      color:rgb(226, 226, 226);
    }
  }
}