* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
  background-color: #f1f1f1;
}

body {
  padding: 20px 5%;
}

h1 {
  margin-bottom: 30px;
}

h3 {
  margin: 40px 0;
}

.box-container {
  max-width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.in-box {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  float: left;
  margin: 10px;
  width: 150px;
  min-height: 100px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.418) 2px 2px 2px, white -2px -2px 2px;
          box-shadow: rgba(0, 0, 0, 0.418) 2px 2px 2px, white -2px -2px 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.in-box.removed {
  display: none;
  pointer-events: none;
}

.in-box.unused {
  background-color: #adadad;
}

.in-box.unused .in-row .small-num-in {
  background-color: #a1a1a1;
}

.in-box .in-row {
  background: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.in-box .in-row .field-label {
  background: none;
  width: 90px;
}

.in-box .in-row .small-num-in {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 30px;
  border-radius: 5px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.418) 1px 1px 2px, inset white -1px -1px 2px;
          box-shadow: inset rgba(0, 0, 0, 0.418) 1px 1px 2px, inset white -1px -1px 2px;
  background: #ebebeb;
  text-align: center;
}

.in-box .in-row .small-num-in:focus {
  outline: none;
  background: #dddddd;
}

.box-buttons {
  background: none;
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-buttons .butt {
  cursor: pointer;
  margin-left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  -webkit-box-shadow: inset 10px 10px 0 rgba(0, 0, 0, 0);
          box-shadow: inset 10px 10px 0 rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.box-buttons .butt.red {
  background: orangered;
}

.box-buttons .butt.yellow {
  background: orange;
}

.box-buttons .butt:hover {
  -webkit-box-shadow: inset 10px 10px 0 rgba(255, 255, 255, 0.527);
          box-shadow: inset 10px 10px 0 rgba(255, 255, 255, 0.527);
}

.add-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100px;
  height: 120px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  nav-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-button .plus {
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: 60px;
  text-shadow: rgba(0, 0, 0, 0.418) 2px 2px 2px, white -2px -2px 2px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.add-button .plus:hover {
  color: #e2e2e2;
}
