* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Courier Prime";
  font-weight: normal;
  text-align: center;
}
h1 {
  padding: 10px;
}
#canvas {
  margin: 15px;
  border: 1px white solid;
  border-radius: 3px;
}
body {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  //overflow: hidden;
}
p {
  font-size: 1em;
}
button {
  background: black;
  border: white 2px solid;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2em;
  border-radius: 3px;
  transition: all 0.5s;
  &:hover {
    background: rgb(73, 73, 73);
  }
}

footer {
  border-top: white dashed 1px;
  width: 100%;
  padding-top: 5px;
  margin-bottom: 30px;
}
