.tile2 {
  display: flex;
  align-items: center;
  justify-content: center;

  .paddle {
    position: absolute;
    width: 25px;
    height: 6px;
    background: $blue;
    transform: translateY(8px);
    &.left {
      margin-left: 25px;
      animation: paddle2 2s linear infinite 1s;
    }
    &.right {
      margin-left: -25px;
      animation: paddle2 2s linear infinite;
    }
  }
  .ball {
    position: absolute;
    width: 10px;
    height: 10px;
    background: $blue;
    border-radius: 100%;

    animation: bounce2 1s linear infinite alternate;
  }
}

@keyframes bounce2 {
  0% {
    transform: rotate(90deg) translateY(25px);
  }
  50% {
    transform: rotate(180deg) translateY(35px);
  }
  100% {
    transform: rotate(270deg) translateY(25px);
  }
}

@keyframes paddle2 {
  0% {
    transform: translateY(8px);
  }
  10% {
    transform: translateY(1px);
  }
  25% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(8px);
  }
}
