.tile4 {
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    width: 20px;
    height: 20px;
    background: $blue;
    margin: 0 5px;
    animation: rotate4 1.5s linear infinite -1s;
    &:nth-child(2) {
      animation-delay: -0.5s;
    }
    &:nth-child(3) {
      animation-delay: 0s;
    }
  }

  @keyframes rotate4 {
    0% {
      transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    }
    25% {
      transform: rotate(45deg) rotate3d(1, 1, 0, 90deg);
    }
    50% {
      transform: rotate(45deg) rotate3d(1, 1, 0, 90deg);
    }
    75% {
      transform: rotate(45deg) rotate3d(1, 1, 0, 90deg);
    }
    100% {
      transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    }
  }
}
