.cube3d.scene {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
  max-width: 250px;
  max-height: 250px;
  perspective: 600px;
  h1 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size : 4em;
    color:#66fcf1;
  }
}

.cube3d.base {
  width: 80%;
  height: 80%;
  margin: auto;
  animation: rot3dcube 6s linear infinite;
  position: relative;
  will-change: transform;
  transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg)
    translateY(50%) rotateX(90deg);
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
}

.cube3d.face {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 6px solid #66fcf1;
  will-change: transform;
  background-repeat: no-repeat;
  background-size: cover;
}

.cube3d.face.front {
  // background-image: url("/img/cube3d/cube3d_cat_front.png");
  transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
}

.cube3d.face.back {
  // background-image: url("/img/cube3d/cube3d_cat_back.png");
  transform: rotateY(90deg) translateX(50%) rotateY(90deg);
}

.cube3d.face.right {
  // background-image: url("/img/cube3d/cube3d_cat_side.png");
  transform: translateX(50%) rotateY(90deg);
}

.cube3d.face.left {
  // background-image: url("/img/cube3d/cube3d_cat_side.png");
  transform: translateX(-50%) rotateY(-90deg);
}

.cube3d.face.top {
  // background-image: url("/img/cube3d/cube3d_cat_top.png");
  transform: translateY(-50%) rotateX(90deg);
}

.cube3d.face.bottom {
  // background-color: #ede6de;
  transform: translateY(50%) rotateX(-90deg);
}

@keyframes rot3dcube {
  from {
    transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg)
      translateY(50%) rotateX(90deg) rotate3d(0.5, 1, 0.1, 0deg);
  }

  to {
    transform: translate(0, 12.5%) scale3d(0.8, 0.8, 0.8) rotateX(-90deg)
      translateY(50%) rotateX(90deg) rotate3d(0.5, 1, 0.1, 360deg);
  }
}
