* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
  color: #C5C6C7;
}

hr {
  margin: 50px 0;
  border: #1f2833 2px solid;
}

body {
  background: url("../img/pcs_bg.svg") #0B0C10;
  background-size: 320px 320px;
  min-height: 100vh;
  -webkit-animation: bg-fly 3s infinite linear;
          animation: bg-fly 3s infinite linear;
  scroll-behavior: smooth;
}

@-webkit-keyframes bg-fly {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -320px 320px;
  }
}

@keyframes bg-fly {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -320px 320px;
  }
}

img.logo {
  max-width: 320px;
  height: auto;
}

video {
  max-height: 70vh;
  width: 100%;
  margin: 30px;
}

.play-button {
  cursor: pointer;
  padding: 10px;
  background: #1f2833;
  text-align: center;
}

.collumns {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collumns * {
  margin: 40px;
}

.rows {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rows * {
  margin: 30px;
}

main {
  padding: 5vw;
  width: 80%;
  min-height: 100vh;
  margin: auto;
  background: #0B0C10;
}

main section {
  min-height: 90vh;
}

p, a {
  font-family: 'Open Sans';
  color: #C5C6C7;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header.solid {
  background: #1f2833;
  -webkit-box-shadow: 0px 3px 10px rgba(44, 43, 40, 0.452);
          box-shadow: 0px 3px 10px rgba(44, 43, 40, 0.452);
}

header h2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 1vh 2vw;
}

header .links {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 1vw;
}

.big-title {
  font-size: 3em;
  max-width: 50%;
  text-align: center;
  margin: auto;
  padding: 1em 0.5em 0.2em 0.5em;
  border-bottom: solid 5px #66FCF1;
  color: #66FCF1;
}

.small-title {
  font-size: 2em;
  max-width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  padding: 1em 0.5em 0.2em 0.5em;
  border-bottom: solid 3px #45A29e;
}

iframe.demo {
  width: 100%;
  height: 80vh;
  margin-top: 50px;
  border-radius: 10px;
  border: dashed 2px #45A29e;
}
/*# sourceMappingURL=style-DESKTOP-VF3H5U6.css.map */