$col1 : rgb(130, 44, 201);


*, a {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


  font-family: 'Montserrat', sans-serif;
}

h1, h2 , h3, h4 {
  font-family: 'Jost', sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width:100vw;
}

body {
  background: fixed url(./background.svg);
  background-size: 250px;
}

h1 {
  text-align: center;
  font-size: 2.2em;
  width: 60%;
  margin: 30px 20%;
  border-bottom: 2px $col1 solid;
  padding: 10px;
  color: $col1;

  animation: fadein 0.3s ease;
}

h2 {
  font-size: 1.8em;
  margin-left: 10%;
}

header {
  z-index: 100;
  width: 100%;
 // margin: 0 2.5vw;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  height: 5vh;
  background: $col1;

  & > img {
    margin-left: 20px;
  }

  p {
    color:white;
    font-family: 'Jost', sans-serif;
    font-size: 1.7em;
  }

  ul {
    margin-left: 20vw;
    width: 50%;
    min-height: 5vh;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
      width:100%;
      height: 100%;
      text-align: center;

      transition: background 0.3s ease-out;

      &:hover {
        background: rgba(255, 255, 255, 0.384);
      }
      a {
        padding: 100% 0;
        display: block;
        width:100%;
        color:white;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

main {
background:rgba(255, 255, 255, 0.767);

  width: 80vw;

  margin: 0 10vw;
  border: 1px solid $col1;

  section {
    min-height: 70vh;
  }

  box-shadow: $col1 0 0 10px;
}

footer {
  margin:auto;
  color:white;
padding: 20px;
background : $col1;
    text-align: center;

}

.baner {
  background: url(https://i.iplsc.com/szymon-ziolkowski/0005NIA1ULISEO7W-C122-F4.jpg);
  background-size: cover;
  background-position-y: 20%;
  background-repeat: no-repeat;
  height: 70vh;

  filter : saturate(1.2);

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  h1 {
    z-index: 120;
    color:black;
    border-bottom: 4px $col1 solid;
    background:rgba(255, 255, 255, 0.411);
    width:100%;
    padding: 30px;
    margin: 0;
    margin-top: 50px;
    font-size: 3em;
  }
}

.row {
  margin: 50px 0 ;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  p {
    max-width: 40%;
  }
}

img.pic {
  animation: fadein 0.3s ease;

  max-height: 50vh;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.61);

  border-radius: 20px;
}

p b {
  font-size: 105%;
  color: $col1;
}

p {
  font-size: 1.2em;
}

.medal-case {
  padding: 10px;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border: 3px $col1 solid;
  border-radius: 30px;
}

.medal-buttons {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  border-bottom: 2px solid $col1;
  margin-bottom: 20px;

  li {

  &.clicked {
    border: 3px $col1 dashed;
  }

    &:hover {
      background: $col1;
      color:white;
    }

    transition: background  0.5s ease-out, color 0.5s ease-out;
    cursor: pointer;  

    width:200px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 120px;
    }
    p {
      display: inline-block;
    }
  }
}

.medal-lists {
  ul {
    list-style-type: circle;
    max-height: 0;
    opacity: 0;
    clip-path: inset(0 0 100% 0);

    transition: clip-path 0.5s ease-in-out, opacity 0.6s ease-in-out;

    &.active {
      opacity: 1;
      max-height: 100%;
      clip-path: inset(0 0 0 0);
      display: block;
    }
  }
}

.chart-container {
margin: 70px auto;
}

.records {
  width: 40%;
  list-style-type: none;
  li {
    margin:5px;
  }
  text-align: center;
  margin:auto;
}

.lrecord {
  font-size: 2em;
  text-align: center;
  margin: 40px;
}

.flag {
  filter: drop-shadow(1px 1px 0px black)
}

@keyframes fadein {
 0% {
   opacity: 0;
   transform: scale(1);
 }

 60% {
   transform: scale(1.05);
 }

 100% {
   opacity: 1;
   transform: scale(1);
 }
}

@media only screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }

  img.pic {
    max-height: 30vh;
  }
}