@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   background: $green;
// }

.shelf {
  display: flex;
  * {
    width: 200px;
    height: 200px;
  }
  // grid-template-columns: repeat(auto-fit, 200px);
  // grid-template-rows: repeat(auto-fit, 200px);
  justify-content: space-around;
  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  & > div {
    border-radius: 20px;
    border: 3px $blue dashed;
  }
}

@import "tile1";
@import "tile2";
@import "tile3";
@import "tile4";
